In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 2 * matplotlib.rcParams['savefig.dpi']

In [2]:
# data
# http://data.beta.nyc/dataset/unofficial-mta-transit-data-archive

# documentation 
# http://bustime.mta.info/wiki/Developers/ArchiveData

#gtfs spec
# https://developers.google.com/transit/gtfs/reference
!wget -nc http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2015/2015-01/bus_time_20150128.csv.xz
!7z -y x bus_time_20150128.csv.xz
!wget -nc http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2015/2015-01/bus_time_20150129.csv.xz
!7z -y x bus_time_20150129.csv.xz

!wget -nc http://data.mytransit.nyc.s3.amazonaws.com/gtfs/2015/gtfs_nyct_bus_20150103.zip
!unzip -o gtfs_nyct_bus_20150103.zip

--2017-11-21 13:43:23--  http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2015/2015-01/bus_time_20150128.csv.xz
Resolving data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)... 52.216.229.251
Connecting to data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)|52.216.229.251|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41847772 (40M) [application/x-xz]
Saving to: ‘bus_time_20150128.csv.xz’

100%[======================================>] 41,847,772  64.8MB/s   in 0.6s

2017-11-21 13:43:24 (64.8 MB/s) - ‘bus_time_20150128.csv.xz’ saved [41847772/41847772]


7-Zip [64] 9.20  Copyright (c) 1999-2010 Igor Pavlov  2010-11-18
p7zip Version 9.20 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,8 CPUs)

Processing archive: bus_time_20150128.csv.xz

Extracting  bus_time_20150128.csv

Everything is Ok

Size:       359163860
Compressed: 41847772
--2017-11-21 13:43:31--  http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2015/2015-01/bus_time_20150129.csv.xz
Resolving data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)... 52.216.99.155
Connecting to data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)|52.216.99.155|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42651624 (41M) [application/x-xz]
Saving to: ‘bus_time_20150129.csv.xz’

100%[======================================>] 42,651,624  34.3MB/s   in 1.2s

2017-11-21 13:43:32 (34.3 MB/s) - ‘bus_time_20150129.csv.xz’ saved [42651624/42651624]


7-Zip [64] 9.20  Copyright (c) 1999-2010 Igor Pavlov  2010-11-18
p7zip Version 9.20 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,8 CPUs)

Processing archive: bus_time_20150129.csv.xz

Extracting  bus_time_20150129.csv

Everything is Ok

Size:       360136887
Compressed: 42651624
--2017-11-21 13:43:38--  http://data.mytransit.nyc.s3.amazonaws.com/gtfs/2015/gtfs_nyct_bus_20150103.zip
Resolving data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)... 52.216.80.24
Connecting to data.mytransit.nyc.s3.amazonaws.com (data.mytransit.nyc.s3.amazonaws.com)|52.216.80.24|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94088821 (90M) [application/zip]
Saving to: ‘gtfs_nyct_bus_20150103.zip’

100%[======================================>] 94,088,821  67.6MB/s   in 1.3s

2017-11-21 13:43:40 (67.6 MB/s) - ‘gtfs_nyct_bus_20150103.zip’ saved [94088821/94088821]

Archive:  gtfs_nyct_bus_20150103.zip
  inflating: agency.txt
  inflating: calendar.txt
  inflating: calendar_dates.txt
  inflating: stops.txt
  inflating: routes.txt
  inflating: shapes.txt
  inflating: trips.txt
  inflating: stop_times.txt

In [14]:
#ETL
import pandas as pd
import numpy as np
from datetime import timedelta, datetime


def convert_to_int64(row):
    try:
        return np.int64(row)
    except ValueError:
        return np.nan

def utc_to_est(row):
    try:
        return row - timedelta(hours=5)
    except:
        raise

csv_f = pd.read_csv
archive = pd.concat([csv_f("bus_time_20150128.csv"),
                     csv_f("bus_time_20150129.csv")])

trips = pd.read_csv("trips.txt")
stops = pd.read_csv("stops.txt")
schedules = pd.read_csv("stop_times.txt")
#schedules.departure_time = pd.to_datetime(schedules.departure_time.apply(_25_to_other))
#archive.timestamp = pd.to_datetime(archive.timestamp).apply(utc_to_est)
archive.next_stop_id = archive.next_stop_id.apply(convert_to_int64)

In [15]:
#query and clean
live_archive = archive[archive.block_assigned > 0] # "assigned" to a route
today = live_archive[live_archive.service_date == 20150128] # due to time shift we get some dates in 1/27 and 1/29
#throw away trips with <15 reports
good_trips_only = today.groupby(today.trip_id).filter(lambda group: len(group) > 15)

#write this as our "clean" dataset
good_trips_only.to_csv("realtime.csv")

#merged dataframe with both 
partial = good_trips_only.merge(trips, on='trip_id') 
df = partial.merge(stops, left_on="next_stop_id", right_on="stop_id")

In [25]:
pd.options.display.max_columns = None
m15_only = df[df.route_id.str.contains("M15")].reset_index()
m15_only["timestamp"] = pd.to_datetime(m15_only["timestamp"])

In [42]:
m15_only.dist_along_route.apply(float).max()

13909.66

In [51]:
g = m15_only.sort_values("timestamp").groupby("trip_id")
g.get_group("OH_A5-Weekday-SDon-002000_M15_2")

,index,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop,route_id,service_id,trip_headsign,direction_id,shape_id,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,161849,2015-01-28 05:23:55,6786,40.803310,-73.933166,233.93,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401738,180.23,108.89,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
1,161850,2015-01-28 05:24:26,6786,40.802600,-73.933682,234.02,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401738,180.23,18.77,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
852,162701,2015-01-28 05:24:58,6786,40.801908,-73.934191,232.14,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401739,422.49,173.05,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401739,2 AV/E 122 ST,NaN,40.800591,-73.935287,NaN,NaN,0,NaN
1079,162928,2015-01-28 05:26:00,6786,40.796702,-73.937992,234.01,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401741,910.98,0,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401741,2 AV/E 116 ST,NaN,40.796745,-73.938095,NaN,NaN,0,NaN
1540,163389,2015-01-28 05:26:32,6786,40.796415,-73.938201,234.01,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401742,1152.28,204.87,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401742,2 AV/E 113 ST,NaN,40.794853,-73.939499,NaN,NaN,0,NaN
1541,163390,2015-01-28 05:27:04,6786,40.795950,-73.938543,233.53,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401742,1152.28,145.69,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401742,2 AV/E 113 ST,NaN,40.794853,-73.939499,NaN,NaN,0,NaN
1705,163554,2015-01-28 05:27:35,6786,40.792996,-73.940703,233.41,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401743,1391.08,9.01,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401743,2 AV/E 110 ST,NaN,40.792965,-73.940849,NaN,NaN,0,NaN
1873,163722,2015-01-28 05:28:07,6786,40.790381,-73.942612,233.95,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401745,1723.26,9.01,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401745,2 AV/E 106 ST,NaN,40.790352,-73.942764,NaN,NaN,0,NaN
1989,163838,2015-01-28 05:28:39,6786,40.787300,-73.944873,234.10,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,803182,2543.27,437.1,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,803182,2 AV/E 96 ST,NaN,40.783901,-73.947472,NaN,NaN,0,NaN
1990,163839,2015-01-28 05:29:10,6786,40.785040,-73.946517,233.98,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,803182,2543.27,150.25,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,803182,2 AV/E 96 ST,NaN,40.783901,-73.947472,NaN,NaN,0,NaN
1991,163840,2015-01-28 05:29:41,6786,40.784357,-73.947008,234.34,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,803182,2543.27,63.74,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,803182,2 AV/E 96 ST,NaN,40.783901,-73.947472,NaN,NaN,0,NaN
1992,163841,2015-01-28 05:30:13,6786,40.784357,-73.947008,234.34,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,803182,2543.27,63.74,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,803182,2 AV/E 96 ST,NaN,40.783901,-73.947472,NaN,NaN,0,NaN
2416,164265,2015-01-28 05:31:17,6786,40.782010,-73.948724,233.84,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405233,2923.5,145.49,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405233,2 AV/E 91 ST,NaN,40.780895,-73.949631,NaN,NaN,0,NaN
2680,164529,2015-01-28 05:31:49,6786,40.780472,-73.949856,233.52,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405307,3129.23,155.44,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405307,2 AV/E 88 ST,NaN,40.779278,-73.950821,NaN,NaN,0,NaN
2681,164530,2015-01-28 05:32:52,6786,40.779427,-73.950614,234.21,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405307,3129.23,22.86,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405307,2 AV/E 88 ST,NaN,40.779278,-73.950821,NaN,NaN,0,NaN
3751,165600,2015-01-28 05:33:24,6786,40.776888,-73.952463,233.68,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401754,3505.93,77.04,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401754,2 AV/E 84 ST,NaN,40.776325,-73.953011,NaN,NaN,0,NaN
3944,165793,2015-01-28 05:33:56,6786,40.774894,-73.953918,233.69,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401756,3919.63,237.48,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401756,2 AV/E 79 ST,NaN,40.773067,-73.955383,NaN,NaN,0,NaN
3945,165794,2015-01-28 05:35:00,6786,40.773564,-73.954888,233.77,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401756,3919.63,68.5,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401756,2 AV/E 79 ST,NaN,40.773067,-73.955383,NaN,NaN,0,NaN
4780,166629,2015-01-28 05:35:31,6786,40.771350,-73.956504,233.83,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401758,4201.37,68.94,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401758,2 AV/E 75 ST,NaN,40.770836,-73.956970,NaN,NaN,0,NaN
4992,166841,2015-01-28 05:36:02,6786,40.768797,-73.958364,233.51,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401759,4468.5,11.87,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401759,2 AV/E 72 ST,NaN,40.768734,-73.958504,NaN,NaN,0,NaN
5264,167113,2015-01-28 05:37:03,6786,40.765665,-73.960653,233.73,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401762,4984.02,129.36,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401762,2 AV/E 66 ST,NaN,40.764698,-73.961517,NaN,NaN,0,NaN
5265,167114,2015-01-28 05:37:34,6786,40.765570,-73.960722,233.75,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401762,4984.02,117.33,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401762,2 AV/E 66 ST,NaN,40.764698,-73.961517,NaN,NaN,0,NaN
5443,167292,2015-01-28 05:38:05,6786,40.763337,-73.962359,235.09,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401764,5383.59,232.78,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401764,2 AV/E 61 ST,NaN,40.761551,-73.963806,NaN,NaN,0,NaN
5444,167293,2015-01-28 05:38:36,6786,40.762454,-73.962996,234.17,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401764,5383.59,120.92,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401764,2 AV/E 61 ST,NaN,40.761551,-73.963806,NaN,NaN,0,NaN
5445,167294,2015-01-28 05:39:09,6786,40.762431,-73.963013,234.17,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401764,5383.59,117.9,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401764,2 AV/E 61 ST,NaN,40.761551,-73.963806,NaN,NaN,0,NaN
5446,167295,2015-01-28 05:39:41,6786,40.761858,-73.963427,233.93,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401764,5383.59,45.35,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401764,2 AV/E 61 ST,NaN,40.761551,-73.963806,NaN,NaN,0,NaN
5751,167600,2015-01-28 05:40:12,6786,40.759236,-73.965345,233.97,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401765,5704.99,33.35,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401765,2 AV/E 57 ST,NaN,40.759022,-73.965652,NaN,NaN,0,NaN
7458,169307,2015-01-28 05:40:43,6786,40.757099,-73.966900,234.76,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401768,6261.01,317.97,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401768,2 AV/E 50 ST,NaN,40.754646,-73.968842,NaN,NaN,0,NaN
7459,169308,2015-01-28 05:41:15,6786,40.756790,-73.967121,220.24,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401768,6261.01,278.97,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401768,2 AV/E 50 ST,NaN,40.754646,-73.968842,NaN,NaN,0,NaN
8226,170075,2015-01-28 05:42:17,6786,40.754562,-73.968748,233.75,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401769,6533.09,267.76,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401769,2 AV/E 46 ST,NaN,40.752502,-73.970398,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9785,171634,2015-01-28 05:44:56,6786,40.746697,-73.974483,233.61,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404909,7333.5,69.03,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404909,2 AV/E 36 ST,NaN,40.746201,-73.974998,NaN,NaN,0,NaN
10066,171915,2015-01-28 05:45:28,6786,40.744383,-73.976171,233.91,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401775,7783.39,224.91,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401775,2 AV/E 31 ST,NaN,40.742668,-73.977577,NaN,NaN,0,NaN
10067,171916,2015-01-28 05:46:32,6786,40.743791,-73.976527,233.83,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401775,7783.39,152.05,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401775,2 AV/E 31 ST,NaN,40.742668,-73.977577,NaN,NaN,0,NaN
10276,172125,2015-01-28 05:47:03,6786,40.741855,-73.978009,233.47,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405336,7978.31,97.46,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405336,2 AV/E 28 ST,NaN,40.741116,-73.978638,NaN,NaN,0,NaN
10502,172534,2015-01-28 05:47:35,6786,40.739379,-73.979811,233.99,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401778,8255.73,60.59,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401778,2 AV/E 25 ST,NaN,40.738953,-73.980278,NaN,NaN,0,NaN
10777,172809,2015-01-28 05:48:37,6786,40.734384,-73.983460,233.94,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401781,8880.2,50.19,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401781,2 AV/E 17 ST,NaN,40.734028,-73.983841,NaN,NaN,0,NaN
10778,172810,2015-01-28 05:49:09,6786,40.734236,-73.983568,234.01,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401781,8880.2,31.37,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401781,2 AV/E 17 ST,NaN,40.734028,-73.983841,NaN,NaN,0,NaN
10930,172962,2015-01-28 05:49:41,6786,40.733837,-73.983857,234.02,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401782,9072.4,172.98,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401782,2 AV/E 14 ST,NaN,40.732513,-73.984940,NaN,NaN,0,NaN
11409,173441,2015-01-28 05:50:44,6786,40.731014,-73.985914,234.03,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404105,9289.01,30.94,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404105,2 AV/E 12 ST,NaN,40.730812,-73.986191,NaN,NaN,0,NaN
11410,173442,2015-01-28 05:51:15,6786,40.731014,-73.985914,234.03,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404105,9289.01,30.94,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404105,2 AV/E 12 ST,NaN,40.730812,-73.986191,NaN,NaN,0,NaN
11639,173671,2015-01-28 05:51:47,6786,40.730592,-73.986221,233.89,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401784,9530.16,218.54,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401784,2 AV/E 9 ST,NaN,40.728912,-73.987572,NaN,NaN,0,NaN
11803,173835,2015-01-28 05:52:49,6786,40.728623,-73.987650,234.00,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401785,9749.32,187.86,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401785,2 AV/E 6 ST,NaN,40.727184,-73.988823,NaN,NaN,0,NaN
11804,173836,2015-01-28 05:53:22,6786,40.728254,-73.987921,233.79,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401785,9749.32,140.89,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401785,2 AV/E 6 ST,NaN,40.727184,-73.988823,NaN,NaN,0,NaN
11976,174008,2015-01-28 05:57:42,6786,40.715803,-73.992260,242.87,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401793,11361.58,115.08,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401793,ALLEN ST/CANAL ST,NaN,40.714863,-73.992836,NaN,NaN,0,NaN
12190,174222,2015-01-28 05:58:14,6786,40.714742,-73.992807,242.68,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404844,11609.84,236.63,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404844,PIKE ST/MADISON ST,NaN,40.712620,-73.992653,NaN,NaN,0,NaN
12191,174223,2015-01-28 05:58:46,6786,40.713598,-73.992707,278.18,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404844,11609.84,108.62,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404844,PIKE ST/MADISON ST,NaN,40.712620,-73.992653,NaN,NaN,0,NaN
12192,174224,2015-01-28 05:59:18,6786,40.712628,-73.992566,278.45,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,404844,11609.84,0,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,404844,PIKE ST/MADISON ST,NaN,40.712620,-73.992653,NaN,NaN,0,NaN
12494,174526,2015-01-28 06:00:21,6786,40.712333,-73.994075,184.89,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,402111,11815.46,56.08,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,402111,MADISON ST/MARKET ST,NaN,40.712326,-73.994743,NaN,NaN,0,NaN
12614,174646,2015-01-28 06:00:54,6786,40.712252,-73.995019,184.86,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,402112,12031.04,191.62,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,402112,MADISON ST/CATHERINE ST,NaN,40.712097,-73.997284,NaN,NaN,0,NaN
13304,175336,2015-01-28 06:01:25,6786,40.712002,-73.997490,186.23,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,903054,12213.55,163.8,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,903054,MADISON ST/ST JAMES PL,NaN,40.711884,-73.999428,NaN,NaN,0,NaN
13305,175337,2015-01-28 06:02:28,6786,40.711833,-73.999141,185.56,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,903054,12213.55,23.4,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,903054,MADISON ST/ST JAMES PL,NaN,40.711884,-73.999428,NaN,NaN,0,NaN
13306,175338,2015-01-28 06:03:00,6786,40.711817,-73.999306,185.56,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,903054,12213.55,9.36,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,903054,MADISON ST/ST JAMES PL,NaN,40.711884,-73.999428,NaN,NaN,0,NaN
13435,175467,2015-01-28 06:03:31,6786,40.710556,-74.000857,233.38,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401797,12564.01,158.66,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401797,PEARL ST/FRANKFORT ST,NaN,40.709400,-74.001915,NaN,NaN,0,NaN
13525,175834,2015-01-28 06:04:36,6786,40.707985,-74.003501,224.04,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,403590,12826.96,56.99,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,403590,PEARL ST/FULTON ST,NaN,40.707630,-74.003998,NaN,NaN,0,NaN
14181,176506,2015-01-28 06:05:08,6786,40.706194,-74.005945,215.39,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401800,13091.16,33.61,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401800,WATER ST/MAIDEN LA,NaN,40.706055,-74.006317,NaN,NaN,0,NaN
14241,176643,2015-01-28 06:05:40,6786,40.705297,-74.007231,214.96,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405337,13318.67,113.76,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405337,WATER ST/GOUVERNEUR LA,NaN,40.704662,-74.008293,NaN,NaN,0,NaN
14353,176755,2015-01-28 06:06:43,6786,40.703771,-74.009453,213.35,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405084,13701.93,244.27,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405084,BROAD ST/WATER ST,NaN,40.702538,-74.011490,NaN,NaN,0,NaN
14354,176756,2015-01-28 06:07:14,6786,40.703404,-74.010011,213.35,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405084,13701.93,182,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405084,BROAD ST/WATER ST,NaN,40.702538,-74.011490,NaN,NaN,0,NaN
14355,176757,2015-01-28 06:07:47,6786,40.703089,-74.010999,194.39,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405084,13701.93,91,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405084,BROAD ST/WATER ST,NaN,40.702538,-74.011490,NaN,NaN,0,NaN
14356,176758,2015-01-28 06:08:50,6786,40.703034,-74.011215,194.39,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,405084,13701.93,71.84,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,405084,BROAD ST/WATER ST,NaN,40.702538,-74.011490,NaN,NaN,0,NaN

In [44]:
def speed(x):
    sort = x.sort_values("timestamp")
    secs = (sort.iloc[-1].timestamp - sort.iloc[0].timestamp).seconds
    distance = sort.iloc[-1]["dist_along_route"]
    return float(distance) / float(secs)
m15_only.groupby("trip_id").apply(speed)

trip_id
OF_A5-Weekday-SDon-028500_SBS15_1     0.000000
OF_A5-Weekday-SDon-029500_SBS15_2     0.000000
OF_A5-Weekday-SDon-030500_SBS15_3     0.000000
OF_A5-Weekday-SDon-031400_SBS15_4     4.866921
OF_A5-Weekday-SDon-032200_SBS15_5     4.122602
OF_A5-Weekday-SDon-032900_SBS15_6     0.000000
OF_A5-Weekday-SDon-033500_SBS15_7     4.476878
OF_A5-Weekday-SDon-033800_SBS15_1     3.792366
OF_A5-Weekday-SDon-034000_SBS15_8     0.000000
OF_A5-Weekday-SDon-034500_SBS15_9     0.000000
OF_A5-Weekday-SDon-035000_SBS15_10    3.782883
OF_A5-Weekday-SDon-035500_SBS15_11    4.050571
OF_A5-Weekday-SDon-035800_SBS15_3     3.855024
OF_A5-Weekday-SDon-035900_SBS15_12    0.000000
OF_A5-Weekday-SDon-036300_SBS15_13    0.000000
OF_A5-Weekday-SDon-036700_SBS15_14    0.000000
OF_A5-Weekday-SDon-036800_SBS15_4     4.430734
OF_A5-Weekday-SDon-037100_SBS15_15    4.524938
OF_A5-Weekday-SDon-037500_SBS15_16    3.916008
OF_A5-Weekday-SDon-037800_SBS15_5     4.497318
OF_A5-Weekday-SDon-037900_SBS15_17    0.000000
OF_A5-Weekday-SDon-038700_SBS15_19    3.817141
OF_A5-Weekday-SDon-038800_SBS15_6     4.059655
OF_A5-Weekday-SDon-039000_SBS15_20    0.000000
OF_A5-Weekday-SDon-039400_SBS15_1     0.000000
OF_A5-Weekday-SDon-039500_SBS15_7     3.673950
OF_A5-Weekday-SDon-040000_SBS15_22    3.059829
OF_A5-Weekday-SDon-040000_SBS15_8     3.154512
OF_A5-Weekday-SDon-040300_SBS15_23    3.562013
OF_A5-Weekday-SDon-040600_SBS15_2     2.962844
                                        ...
OH_A5-Weekday-SDon-132000_M15_58      2.774570
OH_A5-Weekday-SDon-132200_M15_62      2.656662
OH_A5-Weekday-SDon-133000_M15_59      2.616813
OH_A5-Weekday-SDon-133400_M15_53      2.771224
OH_A5-Weekday-SDon-134000_M15_47      3.444708
OH_A5-Weekday-SDon-134600_M15_54      2.489876
OH_A5-Weekday-SDon-135100_M15_60      3.046776
OH_A5-Weekday-SDon-136000_M15_61      3.427244
OH_A5-Weekday-SDon-137000_M15_48      3.499497
OH_A5-Weekday-SDon-137000_M15_56      2.860976
OH_A5-Weekday-SDon-138000_M15_49      2.620795
OH_A5-Weekday-SDon-138200_M15_57      2.773993
OH_A5-Weekday-SDon-139400_M15_58      2.780104
OH_A5-Weekday-SDon-140100_M15_51      3.554572
OH_A5-Weekday-SDon-140600_M15_59      2.953639
OH_A5-Weekday-SDon-141000_M15_52      4.541042
OH_A5-Weekday-SDon-142000_M15_62      3.224320
OH_A5-Weekday-SDon-143000_M15_53      3.751521
OH_A5-Weekday-SDon-143000_M15_60      2.607751
OH_A5-Weekday-SDon-143900_M15_54      5.052263
OH_A5-Weekday-SDon-144200_M15_61      2.968576
OH_A5-Weekday-SDon-146000_M15_56      4.149932
OH_A5-Weekday-SDon-147000_M15_57      4.235327
OH_A5-Weekday-SDon-148000_M15_58      4.759074
OH_A5-Weekday-SDon-148000_M15_62      4.075179
OH_A5-Weekday-SDon-149000_M15_59      3.297635
OH_A5-Weekday-SDon-151000_M15_60      4.601933
OH_A5-Weekday-SDon-152000_M15_61      5.752618
OH_A5-Weekday-SDon-154500_M15_62      3.671068
OH_A5-Weekday-SDon-BM-141800_M15_1    3.812446
Length: 592, dtype: float64

,index,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop,route_id,service_id,trip_headsign,direction_id,shape_id,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,161849,2015-01-28T05:23:55Z,6786,40.803310,-73.933166,233.93,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401738,180.23,108.89,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
1,161850,2015-01-28T05:24:26Z,6786,40.802600,-73.933682,234.02,0,20150128,OH_A5-Weekday-SDon-002000_M15_2,1,401738,180.23,18.77,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
2,161851,2015-01-28T06:07:21Z,3904,40.803394,-73.933011,157.83,0,20150128,OH_A5-Weekday-SDon-006000_M15_3,1,401738,180.23,130.16,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
3,161852,2015-01-28T06:07:53Z,3904,40.802610,-73.933675,234.02,0,20150128,OH_A5-Weekday-SDon-006000_M15_3,1,401738,180.23,20.03,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
4,161853,2015-01-28T06:33:26Z,3892,40.802570,-73.933704,234.02,0,20150128,OH_A5-Weekday-SDon-009000_M15_4,1,401738,180.23,15.02,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
5,161854,2015-01-28T07:05:57Z,6702,40.803162,-73.933273,233.93,0,20150128,OH_A5-Weekday-SDon-012000_M15_1,1,401738,180.23,90.11,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
6,161855,2015-01-28T07:06:29Z,6702,40.802452,-73.933790,234.02,0,20150128,OH_A5-Weekday-SDon-012000_M15_1,1,401738,180.23,0,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
7,161856,2015-01-28T07:24:48Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
8,161857,2015-01-28T07:25:20Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
9,161858,2015-01-28T07:25:52Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
10,161859,2015-01-28T07:26:24Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
11,161860,2015-01-28T07:26:55Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
12,161861,2015-01-28T07:27:26Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
13,161862,2015-01-28T07:27:58Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
14,161863,2015-01-28T07:29:02Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
15,161864,2015-01-28T07:29:33Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
16,161865,2015-01-28T07:30:05Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
17,161866,2015-01-28T07:30:36Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
18,161867,2015-01-28T07:31:07Z,6786,40.803224,-73.932591,157.39,2,20150128,OH_A5-Weekday-SDon-015000_M15_2,1,401738,180.23,170.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
19,161868,2015-01-28T08:07:34Z,3904,40.803083,-73.933331,233.93,0,20150128,OH_A5-Weekday-SDon-018000_M15_3,1,401738,180.23,80.1,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
20,161869,2015-01-28T08:32:02Z,3892,40.803246,-73.932643,157.39,0,20150128,OH_A5-Weekday-SDon-021000_M15_4,1,401738,180.23,165.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
21,161870,2015-01-28T08:32:34Z,3892,40.803246,-73.932643,157.39,0,20150128,OH_A5-Weekday-SDon-021000_M15_4,1,401738,180.23,165.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
22,161871,2015-01-28T08:33:06Z,3892,40.802965,-73.933417,233.93,0,20150128,OH_A5-Weekday-SDon-021000_M15_4,1,401738,180.23,65.08,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
23,161872,2015-01-28T08:55:56Z,5643,40.802452,-73.933790,234.02,0,20150128,OH_A5-Weekday-SDon-023000_M15_5,1,401738,180.23,0,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
24,161873,2015-01-28T09:02:52Z,5622,40.803197,-73.932526,157.39,0,20150128,OH_A5-Weekday-SDon-024500_M15_6,1,401738,180.23,176.47,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
25,161874,2015-01-28T09:03:24Z,5622,40.803246,-73.932643,157.39,0,20150128,OH_A5-Weekday-SDon-024500_M15_6,1,401738,180.23,165.21,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
26,161875,2015-01-28T09:03:56Z,5622,40.803230,-73.932604,157.39,0,20150128,OH_A5-Weekday-SDon-024500_M15_6,1,401738,180.23,168.96,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
27,161876,2015-01-28T09:04:28Z,5622,40.803404,-73.933037,157.83,0,20150128,OH_A5-Weekday-SDon-024500_M15_6,1,401738,180.23,127.66,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
28,161877,2015-01-28T09:33:11Z,6702,40.802984,-73.933403,233.93,0,20150128,OH_A5-Weekday-SDon-027200_M15_1,1,401738,180.23,67.58,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
29,161878,2015-01-28T09:39:43Z,5835,40.803420,-73.933077,157.83,2,20150128,OH_A5-Weekday-SDon-028400_M15_8,1,401738,180.23,123.9,M15,OH_A5-Weekday-SDon,SOUTH FERRY via 2 AV,1,M150351,401738,2 AV/E 125 ST,NaN,40.802494,-73.933891,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48011,2321409,2015-01-29T02:18:36Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48012,2321410,2015-01-29T02:19:07Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48013,2321411,2015-01-29T02:20:10Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48014,2321412,2015-01-29T02:21:13Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48015,2321413,2015-01-29T02:22:17Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48016,2321414,2015-01-29T02:22:49Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48017,2321415,2015-01-29T02:23:20Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48018,2321416,2015-01-29T02:23:52Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48019,2321417,2015-01-29T02:24:56Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48020,2321418,2015-01-29T02:25:59Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48021,2321419,2015-01-29T02:27:01Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48022,2321420,2015-01-29T02:28:04Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48023,2321421,2015-01-29T02:29:08Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48024,2321422,2015-01-29T02:30:11Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48025,2321423,2015-01-29T02:30:42Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48026,2321424,2015-01-29T02:31:13Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48027,2321425,2015-01-29T02:31:44Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48028,2321426,2015-01-29T02:32:48Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48029,2321427,2015-01-29T02:33:51Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48030,2321428,2015-01-29T02:34:53Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48031,2321429,2015-01-29T02:35:58Z,5548,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-122100_M15_40,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48032,2321430,2015-01-29T02:13:27Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48033,2321431,2015-01-29T02:15:35Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48034,2321432,2015-01-29T02:17:11Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48035,2321433,2015-01-29T02:18:15Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48036,2321434,2015-01-29T02:19:20Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48037,2321435,2015-01-29T02:20:24Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48038,2321436,2015-01-29T02:21:27Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48039,2321437,2015-01-29T02:21:58Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN
48040,2321438,2015-01-29T02:23:02Z,5885,40.710852,-73.991983,108.73,2,20150128,OH_A5-Weekday-SDon-128200_M15_45,1,405359,0,0,M15,OH_A5-Weekday-SDon,EAST HARLEM 125 ST via 1 AV,0,M150349,405359,PIKE ST/CHERRY ST,NaN,40.710861,-73.991936,NaN,NaN,0,NaN